<!DOCTYPE html>
<html>
<head>
<title>show.html</title>
<meta charset="utf-8" />
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/wow.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
<script type="text/javascript" src="${rc.contextPath}/js/global.js"></script>

	<script type="text/javascript">
		$(function(){
			for(var i=1;i<=${allPages};i++){
				$('#pages').append('<button type="button" class="btn btn-default hidden-xs hidden-sm pages" value="'+i+'">'+i+'</button>');
			}
			
			$('#pages').on('click','.pages',function(){
				location.href='${rc.contextPath}/role/show?page='+$(this).val();
			});
		
			$('#previousPage').click(function(){
				if(${page}>1){
					location.href='${rc.contextPath}/role/show?page='+(${page}-1);
				}
			});
			
			$('#nextPage').click(function(){
				if(${page}<${allPages}){
					location.href='${rc.contextPath}/role/show?page='+(${page}+1);
				}
			});
			
			$('#firstPage').click(function(){
					location.href='${rc.contextPath}/role/show?page=1';
			});
			
			$('#endPage').click(function(){
					location.href='${rc.contextPath}/role/show?page='+(${allPages});
			});
			$('.delete-role').click(function(){
				location.href = '${rc.contextPath}/role/delete/'+$(this).parent().parent().siblings('.role-id').html();
			});
			
			$('#deleteMulti').click(function(){
				$('#form1').submit();
			});
			
			$('#addRole').click(function(){
				location.href="${rc.contextPath}/role/add";
			});
			
			$('.edit-role').click(function(){
				location.href = '${rc.contextPath}/role/edit/'+$(this).parent().parent().siblings('.role-id').html();	
			});
			
			$('.view-role').click(function(){
				location.href = '${rc.contextPath}/role/view/'+$(this).parent().parent().siblings('.role-id').html();	
			});
			
			$('#back').click(function(){
				location.href = '${rc.contextPath}/home'
			});
		});
	</script>
</head>

<body>
	<form action="${rc.contextPath}/role/multiDelete" method="POST" id="form1">

		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="btn btn-default btn-back btn-sm" id="back">
					返 回</button>
				&nbsp;&nbsp; 角色管理
				<div class="btn-group btn-group-sm pull-right">
					<button type="button" class="btn btn-default" id = "deleteMulti">
						<img src="${rc.contextPath}/img/7.png" height="16px" />
						&nbsp;&nbsp;批量删除
					</button>
					<button type="button" class="btn btn-default" id="addRole">
						<img src="${rc.contextPath}/img/plus.png" height="16px" />
						&nbsp;&nbsp;添加角色
					</button>
				</div>
			</div>

			<div class="panel-body">
				<table
					class="table table-bordered table-condensed table-hover table-responsive cbx-group">
					<thead>
						<th class="td-checkbox"><input type="checkbox"
							class="cbx-all" /></th>
						<th>角色编号</th>
						<th>角色名称</th>
						<th>所属部门</th>
						<th>操作选项</th>
					</thead>
					<tbody>
						<#list roles as role>
						<tr>
							<td align="center" class="td-checkbox"><input
								type="checkbox" name="ids" value="${role.roleId}"/></td>
							<td class = 'role-id'>${role.roleId}</td>
							<td>${role.roleName}</td>
							<td>${role.departmentId}</td>
							<td width="120px"><span class="btn-group btn-group-xs">
									<button type="button" class="btn btn-default view-role">查看</button>
									<button type="button" class="btn btn-default edit-role">编辑</button>
									<button type="button" class="btn btn-danger delete-role">删除</button>
							</span></td>
						</tr>
						</#list>
					</tbody>
					<tfoot>

					</tfoot>
				</table>

				<div class="row">
					<div class="col-lg-8 col-md-7 col-sm-7 col-xs-5">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-darkgreen" id = "firstPage">
								<span class="hidden-xs hidden-sm"> 首 页 </span> <span
									class="hidden-lg hidden-md"> |&lt; </span>
							</button>
							<button type="button" class="btn btn-darkgreen" id = "previousPage">
								<span class="hidden-xs hidden-sm"> 上一页 </span> <span
									class="hidden-lg hidden-md"> &lt;&lt; </span>
							</button>
							<div id="pages" class="btn-group">
							
							</div>
							<button type="button" class="btn btn-darkgreen" id = "nextPage">
								<span class="hidden-xs hidden-sm"> 下一页 </span> <span
									class="hidden-lg hidden-md"> &gt;&gt; </span>
							</button>
							<button type="button" class="btn btn-darkgreen" id = "endPage">
								<span class="hidden-xs hidden-sm"> 末 页 </span> <span
									class="hidden-lg hidden-md"> &gt;| </span>
							</button>
						</div>

					</div>
					<div class="col-lg-4 col-md-5 col-sm-5 col-xs-7">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="${page}" /> <span
								class="input-group-addon"> / ${allPages} 页 </span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-darkgreen">Go</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
	<div style="height: 80px;"></div>

</body>
</html>
