<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>BWFUIFramework</title>
<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js"></script>
<script type="text/javascript"
	src="${rc.contextPath}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/wow.js"></script>
<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
<script type="text/javascript" src="${rc.contextPath}/js/global.js"></script>
<script type="text/javascript">
	$(function() {
		$('#back').click(function() {
			location.href = '${rc.contextPath}/affair_module/show';
		});

		$('.parts').on('click', '.addRow', function() {
			var partRow = $('.partRow').clone();
			$('.parts').append(partRow);
		});

		$('.parts').on('click', '.deleteRow', function() {

			if ($('.partRow').length > 1) {
				$(this).parent().parent().remove();
			}
		});

		$('#chain-panel').on('click','.chain-part',function(){
			var part = $(this);
			var chainElem = $('<div class = "panel panel-default col-md-1 chain-elem"></div>');
			var deleteChain = $('<div class = "text-right "><button class = "delete-chain btn btn-danger btn-xs" type="button"><span class = "glyphicon glyphicon-remove"></span></button></div>');
			var elemBody = $('<div class = "panel-body"><input type = "text" name = "chainIds" class = "hidden" value = "'+part.val()+'"</div>').append(part.clone().removeClass('chain-part'));
			var rightArrow = $('<span class = "rightArrow glyphicon glyphicon-arrow-right"></span>');
			if($('.chain-elem').length>=1){
				elemBody.prepend(rightArrow);
			}
			chainElem.append(deleteChain).append(elemBody);
			
			$('#chains').append(chainElem);
			
			$(this).attr("disabled","disabled")
		});
		
		$("#chains").on('click','.delete-chain',function(){
			var ht = $(this).parent().siblings('.panel-body').children('.btn');
			for(var i=0;i<$('.chain-part').length;i++){
				if(ht.html()==$('.chain-part')[i].innerHTML){
					$($('.chain-part')[i]).removeAttr("disabled");
				}
			}
			
			$(this).parent().parent().remove();
			if($('.chain-elem').length==1){
				$('.rightArrow').remove();
			}else if($('.chain-elem:first').children().children('.rightArrow')){
				
				$($('.chain-elem:first').children().children()[1]).remove();
				
			}
			
		});
	});
</script>
</head>
<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<button type="button" id="back"
				class="btn btn-default btn-back btn-sm">返 回</button>
			&nbsp;&nbsp;新建公文模板
		</div>
		<div class="panel-body">

			<form action="${rc.contextPath}/affair_module/doAdd" method="post"
				role="form" class="form-horizontal">
				<input type = "text" name = "designerId" class="hidden" value = "${currentUser.userId}"/> 
				<div class="panel panel-default panel-step">
					<div class="panel-heading panel-step-head"
						style="background-color: transparent; ">
						<div class="panel-step-btn-group">
							<button type="button" class="btn btn-primary btn-step">
								输入名称</button>
							<button type="button" class="btn btn-default btn-step">
								确认选项</button>
							<button type="button" class="btn btn-default btn-step">
								设置流程</button>
						</div>
					</div>
					<div class="panel-body panel-step-body">
						<div class="form-group">
							<label for="moduleName"
								class="col-sm-2 control-label text-center">模板名称</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="moduleName" name="moduleName"
									placeholder="请输入模板名称">
							</div>
						</div>
					</div>
					<div class="panel-body panel-step-body">
						<div class="form-group parts">
							<div class="partRow">
								<label for="partName" class="col-sm-1 control-label text-center">选项名称</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="partName"
										name="partName" placeholder="请输入选项名称">
								</div>
								<label for="partType" class="col-sm-1 control-label text-center">选项类型</label>
								<div class="col-sm-2">
									<select id="partType" class="form-control" name="partType">
										<option value="-1">请选择选项类型</option>
										<#list parts as part>
										<option value="${part.partId}">${part.partName}</option>
										</#list>
									</select>
								</div>
								<label for="partData" class="col-sm-1 control-label text-center">选项数据</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="partData"
										name="partData" placeholder="请输入选项数据">
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<button type="button" class="btn btn-success addRow">+</button>
									<button type="button" class="btn btn-danger deleteRow">-</button>
								</div>
								<br />
							</div>
						</div>
					</div>
					<div class="panel-body panel-step-body">
						<div class="col-md-12" id="chain-panel">
							<#list departments as department>
							<div class="row">
								<div class="col-md-4 text-center">
									${department.departmentName}</div>
								<div class="col-md-8 chain-parts">
									<#list users as user> <#if
										user.role.departmentId=department.departmentId>
									<button type="button" class="btn btn-primary btn-xs chain-part"
										name="userId" value="${user.userId}">${user.nickname}</button>
									</#if> </#list>
								</div>
							</div>
							<hr />
							</#list>
						</div>
						<div class="col-md-12 panel panel-default" >
							<div class = "panel-heading">
								<h6 class = "panel-title">当前流程链</h6>
							</div>
							<div class = "panel-body" id="chains">
								
										
							</div>
							
						</div>
					</div>

					<div class="panel-footer panel-tab-footer">
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-step-prev">
								上一步</button>
							<button type="button" class="btn btn-default btn-step-next">
								下一步</button>
							<button type="submit" class="btn btn-danger btn-step-submit">
								提交表单</button>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>


	<div style="height: 80px;"></div>
</body>
</html>

